body {
  font-family: Arial, sans-serif;
  background-color: #333; /* Dark background color */
  color: #fff; /* Text color */
}
i {
  color: hsl(45, 13%, 31%);
  padding-left: 5px;
  font-size: 1.1em;
}
.container {
  max-width: 700px;
  margin: 20px auto;
  text-align: center;
}

.btn {
  margin: 10px 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.btn-primary {
  background-color: hwb(210 31% 25%);
}
.btn-primary:hover {
  background-color: hsl(211, 100%, 28%);
}

.btn-secondary {
  background-color: hwb(211 35% 31%);
  color: black;
}
.btn-secondary:hover {
  background-color: #0056b3;
}

.btn-ternary {
  background-color: hwb(150 8% 53%);
  color: black;
}
.btn-ternary:hover {
  background-color: #0056b3;
}

.btn-danger {
  background-color: hsl(337, 85%, 82%);
  color: #333;
  border: 2px solid red;
}
.btn-danger:hover {
  color: #fff;
  background-color: #b3003c;
}

.quote {
  font-style: italic;
  font-size: 1.3em;
}

.quote::before,
.quote::after {
  content: '"';
}

.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favorite-card {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  color: darkslategray;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  width: 25%;
}
.favorite-card-content {
  flex: 1;
}

.author {
  font-style: italic;
}
.star-icon {
  font-size: 30px;
  color: chartreuse;
  cursor: pointer;
  vertical-align: middle;
}
